.prefixBtn {
  top: 1rem;
  position: relative;
}

.custom-select {
  font-size: 14px;
  color: #66615b;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

h1 {
  font-size: 14px;
}

.buttonPosition {
  float: right;
}

.card {
  border-radius: 6px;
  background-color: #fdfdfd;
}
.content {
  background-color: #ececec;
  margin-top: 82px !important;
  position: relative;
  top: 2rem;
}

.numbers {
  padding-left: 15px;
  padding-top: 10px;
}

.uploadBtn {
  position: relative;
}

.inputFile {
  margin-top: 18px;
}

.litegraph .dialog.settings{
  left: 102%;
  top: 0px;
}

.litegraph .dialog .property_value {
  text-align: left;
}

.disabledDiv {
  opacity: 0.4;
}

.nodePath {
  font-size: 57%;
}

.nodeName {
  font-size: 70%;
  font-weight: bold;
}

.plusButton {
  margin: 0px 1px;
  margin-right: 18px;
}

.panelSelectorRow {
  margin: 2px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 10px;
}

.shiftCheckbox {
  height: 15px;
}

.plusButtonFixed {
  width: 100%;
}

.delButton {
  margin-top: -7px;
  margin-bottom: 0px;
  float: right;
  z-index: 100;
  position: relative;
}

.dropdown-content {
  overflow-y: scroll;
  max-height: 200px;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.dropdown-item {
  padding: 3px 8px;
}

.badge {
  margin: 4px;
}

.selectedFiles {
  overflow-y: scroll;
  max-height: 40px;
  margin-bottom: 0;
  width: 100%;
}

.stats {
  padding-bottom: 6px;
}